# custom env file
/.env
indexv2.html
scripts/map2/
data/tmp/
data/csv/query.csv
batchupdating/
data/astronomicalobjects/client_states_others_regions.geojson
data/astronomicalobjects/client_states_others_regions.qmd
data/astronomicalobjects/sectors_origin.geojson
data/astronomicalobjects/sectors_origin.qmd
qgisproject/
scripts/data-form/gridv2.js
