body {
  padding: 0px;
  margin: 0px;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  /* border: 1px solid lightgrey; */
  margin: 5px;
}

.flex-child-element:first-child {
  margin-right: 10px;
}

/* GRID DISPLAY */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 10px;
  grid-auto-rows: minmax(1px, auto);
}

.grid-wrapper-fixed-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2px;
  grid-column-gap: 10px;
  grid-auto-rows: minmax(1px, auto);
}


/* Media query for wider screens to switch to 4 columns */
@media (min-width: 2475px) {
  .grid-wrapper{
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Apply fixed 100% width for select 2 */
.select2-wrapper > select, .select2-wrapper > span {
width: 100% !important;
}

/* .select2-select-wrapper {

} */

/* .field-wrapper {
  
} */

/*.field-wrapper:first-child > label {
  flex: 0 0 191px;
  text-align: right;
}*/

 /* Fixed width for the label */
.field-wrapper > label{
  flex: 0 0 100px;
  text-align: right;
}

.field-wrapper > input[type=text], 
.field-wrapper > input[type=number],
.field-wrapper > select,
.field-wrapper > textarea {
  flex: 1;
  margin-left: 5px; /* Space between label and input */
  width: 100%;
  /* max-width: calc(100% - 160px); /* Adjust width considering the label width and margin */
  /*max-width: 100%; /* Adjust width considering the label width and margin */
  /* width: -moz-available; /* Firefox-specific */
  /* width: -webkit-fill-available; WebKit-specific */
  /* width: fill-available; Standardized version, not widely supported */
  /* width: fit-content; Widely supported */
  /*max-width: calc(100% - 160px); /* Adjust width considering the label width and margin */
}

.field-wrapper > input[type=checkbox] {
  /* flex: 1; */
  /* max-width: calc(100% - 160px); /* Adjust width considering the label width and margin */
  /* max-width: 100%; /* Adjust width considering the label width and margin */
  /* margin-left: 0;
  margin-right: 100%; */
  /* margin-right: 10px; */
}


.grid-column-one {
  grid-column: 1
}

.grid-column-one-to-two {
  grid-column: 1 / 3;
}

.grid-column-one-to-three {
  grid-column: 1 / 4;
}

.grid-column-one-to-four {
  grid-column: 1 / 5;
}

.grid-column-two {
  grid-column: 2;
}

.grid-column-two-to-three {
  grid-column: 2 / 4;
}

.grid-column-two-to-four {
  grid-column: 2 / 5;
}

.grid-column-three {
  grid-column: 3;
}

.grid-column-three-to-four {
  grid-column: 3 / 5;
}

.grid-column-four {
  grid-column: 4;
}

.grid-column-media-queries-one-or-four {
  grid-column: 1;
}

/* Media query for wider screens to switch to 4 columns */
@media (min-width: 2475px) {
  .grid-column-media-queries-one-or-four {
    grid-column: 4;
  }
}

.grid-line-one {
  grid-row: 1;
}

.grid-line-two {
  grid-row: 2;
}

.grid-line-three {
  grid-row: 3;
}

.grid-line-four {
  grid-row: 4;
}

/****************/


/* Select2 */
/* #object-search, #hyperroute-search {
  width: 100% !important;
}

#object-alt-name-span, #hyperroute-alt-name-span {
  width: 100%;
} */


/* Form */
#form {
  width: 50%;
}

input[readonly], textarea[readonly] {
  background-color: lightgray;
}

#object-parent-raw-span {
  width: 100%
}
#object-parent-raw {
  width: 80%;
}

.verbose-button {
  height: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 95%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Validation Modal Table */
#modal-table {
  border-collapse: collapse;
}
#modal-table td {
  border: 1px solid grey; 
}
#modal-table tr:first-child td {
  border-top: 0;
}
/* #modal-table tr td:first-child {
  border-left: 0;
} */
#modal-table tr:last-child td {
  border-bottom: 0;
}
/* #modal-table tr td:last-child {
  border-right: 0;
} */

/* Source Modal Table */

#source-modal-table {
  /* border: 1px solid grey;  */
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

#source-modal-table th {
  background-color: #ddd;
}

#source-modal-table td, #source-modal-table th {
  border: 1px solid grey; 
  /* width: min-content !important; */
}

/* #source-modal-table td > * {
  width: max-content !important;
} */

#source-modal-table td > * {
  word-wrap: break-word;
  width: 100%;
  max-width: 100%;
}

.modal-source-id {
  width: 100%;
}

/********/
/* TABS */
/********/

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Hyper route section  */

#hyperroute-section-form {
  max-height: 400px;
  overflow-y: auto;
  min-height: 0px;
}

/* #hyperroute-section-form-content {
  overflow-y: auto;
} */

.hyperroute-section-row {
  border: #292929 1px solid;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.hyperroute-section-row > div:first-child {
  grid-column: 1
}

.hyperroute-section-row > div:last-child {
  grid-column: 2 / 15;
}

/************/
/* TOOLTIPS */
/************/

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  /* margin:10rem; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  min-width: 350px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
  font-family:sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #292929 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/***************/
/* COLLAPSIBLE */
/***************/
 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/***************/
/***** MAP *****/
/***************/

#map {
  height: 68%;
}

/*Style of grid search tool*/
.form-f  { display: table;}
.form-grid { display: table-row; }
#col_label { display: table-cell; }
#line_label { display: table-cell; }
#col_letter { display: table-cell; 
              margin-left: 10px;}
#line_num { display: table-cell; 
            margin-left: 10px;}
#gridsearchbut{margin-top:5px}

/*Style button to edit X and Y*/
.xyeditbtn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.info legend {
  border-radius: 50px; 
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.legend-label {
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
}

/*Tab geom

/* Style the tab */
.tabgeom {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabgeom button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabgeom button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabgeom button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabgeomcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/********************/
/**** DASHBOARD *****/
/********************/

.dashboard-table, .dashboard-table td {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.dashboard-table thead td {
  background-color: #aaa;
}

.dashboard-incorrect-value {
  background-color: #EE4B2B;
}

.dashboard-warning-value {
  background-color: #e1a900;
}