body {
  padding: 0px;
  margin: 0px;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  /* border: 1px solid lightgrey; */
  margin: 5px;
}

.flex-child-element:first-child {
  margin-right: 10px;
}

/* Select2 */
#object-search {
  width: 100%;
}
#object-type {
  width: 30%;
}
#object-parent {
  width: 40%;
}

/* Form */
#form {
  width: 50%;
}

input[readonly] {
  background-color: lightgray;
}

.verbose-button {
  height: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Table */
#modal-table {
  border-collapse: collapse;
}
#modal-table td {
  border: 1px solid grey; 
}
#modal-table tr:first-child td {
  border-top: 0;
}
/* #modal-table tr td:first-child {
  border-left: 0;
} */
#modal-table tr:last-child td {
  border-bottom: 0;
}
/* #modal-table tr td:last-child {
  border-right: 0;
} */

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 