body {
	margin: 0;
}

html, body {
	height: 100%
}

/*Legend specific*/
.popupdiv .p{
  font-size: 10px;
}

.hide-point-layer .point-layer {
  display: none;
}

/********* Map ******************/
.search-tip b {
	color: #fff;
}
.point.search-tip b,
.point.leaflet-marker-icon {
	background: #f66
}
.multipolygon.search-tip b,
.multipolygon.leaflet-marker-icon {
	background: #66f
}
.search-tip {
	white-space: nowrap;
}
.search-tip b {
	display: inline-block;
	clear: left;
	float: right;
	padding: 0 4px;
	margin-left: 4px;
}

/********** Map specific *********/

.leaflet-tooltip {
  /* color:Green; */
  color:rgba(255, 98, 0, 0.77);
  padding: 2px;
  background-color: #000;
  border-radius: 4px;
}

.route-tooltip {
  color:rgb(205, 4, 212);
  font-style: italic;
  padding: 2px;
  background-color: #000;
  border-radius: 4px;
}

.transparent-tooltip {
  background: transparent;
  border: 1px solid red;
  box-shadow: none;
}

.transparent-tooltip::before {
  border: none;
}

/* Overwrite of Leaflet native classes (David version) */
.container {
  width:100%;
  height:100%;
  border:0px solid;
  background: #000000;
}

.map {
  width:auto;
  height:100%;
  background: #000000;
  overflow:hidden;
}

.sidebar {
  height:100%;
  width:200px;
  background: #192841;
  float:right;
}

.leaflet-container {
	overflow: hidden;
	background: #000;
}

.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	width: auto;
	padding: 0;
}

.leaflet-container img.leaflet-tile,
.leaflet-fade-anim .leaflet-tile {
	will-change: transform !important;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: transform !important;
}

.leaflet-container {
  background: #000000; /*MAP BACKGROUND COLOR============================================================================*/
  outline: 0;
}

.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
}

.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.leaflet-bar a,

.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

.leaflet-popup { /*Overwrite Leaflet native style*/
	position: absolute;
	text-align: center;
	margin-bottom: 5px; /* Vertical alignment of popup in relation to marker */
	margin-left: 8px; /* Horizontal alignment of popup in relation to marker */
}

.leaflet-popup-content-wrapper {
	border: 5px solid #65748E; /* Popup border options */
	background: #192841; /*BG color of popups*/
	padding: 1px;
	text-align: left;
	border-radius: 12px;
}

.leaflet-popup-content {
  margin: 10px 10px; /* 1st value is popup's top/bottom margin; 2nd value is L/R margin */
  line-height: 1.4;
  color: #ffffff; /* Text color in popups */
}

.leaflet-popup-content p {
  margin: 0px 0;
  font-size: 18px;
}

/* Legend */

.info legend {
  border-radius: 50px; 
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.legend-label {
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
}