body {
	margin: 0;
}

html, body, #leaflet {
	height: 100%
}

.leaflet-tooltip {
  color:Green;
  padding: 2px;
  background-color: #000;
  border-radius: 4px;
}

.route-tooltip {
  color:rgb(205, 4, 212);
  font-style: italic;
  padding: 2px;
  background-color: #000;
  border-radius: 4px;
}

.transparent-tooltip {
  background: transparent;
  border: 1px solid red;
  box-shadow: none;
}

.transparent-tooltip::before {
  border: none;
}

/*Legend specific*/
.popupdiv .p{
  font-size: 10px;
}

.hide-point-layer .point-layer {
  display: none;
}